:root {
    --color-holberton-primary: #e0354b;
  
    --border: solid 3px var(--color-holberton-primary);
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  html, body, #root, .App {
    height: 100%;
  }
  
  .App {
    display: flex;
    flex-direction: column;
  }
  .App-header {
    display: flex;
    align-items: center;
    border-bottom: var(--border);
  }
  .App-header img {
    height: 200px;
  }
  .App-header h1 {
    color: var(--color-holberton-primary);
  }
  .App-body {
    margin: 40px;
  }
  
  .App-footer {
    margin-top: auto;
    border-top: var(--border);
  }
  
  .App-footer p {
    text-align: center;
    font-style: italic;
  }